


<div class="center">
    <div><%= link_to "ログイン", brands_path, class: "btn btn-secondary" %></div>
    <div><%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary" %></div>
    <div><%= link_to "ブランド追加ページへ", new_brand_path, class: "btn btn-secondary" %></div>
</div>
